.profile__container_info-prof {
  height: 22px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .profile__container_info-prof  {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}


