.element__caption_like {
  height: 19px;
}

.element__caption_like:hover{
  opacity: 0.5;
  cursor: pointer;
}
.element__caption_like:active{
  background-image: url(../../../../images/active_like.png);
}
