.profile__photo {
  width: 120px;
  border-radius: 50%;
  margin: 3.75px auto;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .profile__photo  {
    margin: 0 29.25px 0 20.5px;
  }
}
